html, body {border: 0; margin: 0; padding: 0;}
body {
  	font: 85%/0.9 arial, helvetica, sans-serif;
  	line-height: 130%;
  	width: 100%;
  	min-width: 970px;
	text-align: left;
	background-color: #322b1f;
	background-image: url(img/bg.jpg);
	background-repeat: repeat-x;
}

table {width: 100%; font-size: small;}
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif;}

/***** Links *****/

a {
  	text-decoration: none;
  	color: #0099FF;
}

a:hover {text-decoration: none; color: #00CCFF;}

a img {
  border: none;/*remove border for linked images*/
}

h1, h2, h3, h4, h5, h6 {
  	margin: 0;
  	padding: 0;
  	font-weight: normal;
}
ul {list-style: none; margin: 0; padding: 0;}
ol { margin: 2px; padding: 2px; list-style: decimal inside; text-align: right;}
li { margin-right: 2px; color: #2F5376;}

input.formButton {}

.item {border: 1px solid #cccccc;}
.itemHead {padding: 3px; background-color: #2F5376; color: #FFFFFF;}
.itemInfo {text-align: right; padding: 3px; background-color: #efefef}
.itemTitle a {font-size: 130%; font-weight: bold; font-variant: small-caps; color: #ffffff; background-color: transparent;}
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding-right: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 133%; font-weight: bold;}
.itemFoot {text-align: right; padding: 3px; background-color: #efefef;}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}


.big{
	width: 940px;
}
#bigcenter{
	 width: 940px;
  	margin: 0 auto;/* center the page in Firefox */
  	text-align: left;
	background: url(img/bg_content.jpg) repeat-y 0 0;
	padding:15px;
}

th {background-color: #2F5376; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif;}

#rt{
	background-image: url(img/nav_corner_l.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom;
	width: 22px;
	height: 70px;
}
#lt{
	background-image: url(img/nav_corner_r.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom;
	width: 22px;
	height: 70px;
}
#rb{
	background-image: url(img/nav_corner_bl.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom;
	width: 22px;
	height: 70px;
}
#lb{
	background-image: url(img/nav_corner_br.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom;
	width: 22px;
	height: 70px;
}
/*----NAVBAR-----*/

/* Main Navigation */

#nav {
	display: block;
	width: 880px;
	height: 30px;
	float: right;
	list-style: none;
	text-align: center;
	margin-right:10px;
}

#nav li {
	text-align: center;
	display: block;
	float: right;
	height: 40px;
	width: auto;
	margin: 0;
	padding: 0 8px 0 8px;
}
/*Default tab*/
#nav li a {
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	color: #ccc;
	font-size: 1em;
	background: url(img/nav_l.jpg) no-repeat left -41px;
	cursor: pointer;
}

#nav li a span {
	display: block;
	float: left;
	position: relative;
	height: 40px;
	padding: 0 35px 0 20px;
	line-height: 41px;
	left: 15px;
	background: url(img/nav_r.jpg) no-repeat right -41px;
}
/* tab over and current tab*/
#nav li a:hover, #nav li a.current_page_item {
	background: url(img/nav_l.jpg) no-repeat left 0;
}

#nav li a:hover span, #nav li a.current_page_item span {
	background: url(img/nav_r.jpg) no-repeat right 0;
	color: white;
}


td#headerbanner {width: 100%; background-color: #2F5376; vertical-align: middle; text-align:center;}
td#headerbar {height:31px; background: url(img/bg_nav.jpg) bottom;}


td#leftcolumn {
	width: 210px; 
	font-size:12px; 
	padding:20px;
	background-image: url(img/sidebar_bg.jpg);
	background-attachment: scroll;
	background-position: center;
}
td#leftcolumn th {background-color: #2F5376; color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {
background-color: transparent;
background-image: url(img/sidebar_h2_bg.jpg);
background-repeat: repeat;
background-attachment: scroll;
background-position: 0% 0%;
display: block;
width: 220px;
height: 27px;
line-height: 27px;
padding-left: 10px;
color: #362f1f;
font-weight: bold;
font-size: 1.2em;
margin-bottom:10px;
}
td#leftcolumn div.blockContent {padding: 3px; line-height: 120%; line-height: 120%;}


#centercolumn {font-size: 12px;}
#centercolumn th {background-color: #2F5376; color: #FFFFFF; vertical-align: middle;}

#centerCcolumn, #bottomCcolumn {padding: 0px 3px 1px 3px;}
#centerCcolumn .blockTitle, #bottomCcolumn .blockTitle {padding: 3px; color: #639ACE; font-weight: bold; margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
#centerCcolumn .blockContent, #bottomCcolumn .blockContent {border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #dddddd; padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%;}

#centerLcolumn, #bottomLcolumn, #centerRcolumn, #bottomRcolumn {
	width: 50%; padding: 0px 3px 0px 0px;
}
#centerLcolumn .blockTitle, #bottomLcolumn .blockTitle, #centerRcolumn .blockTitle, #bottomRcolumn .blockTitle {
	padding: 3px; color: #639ACE; font-weight: bold; margin-top: 0px;
}
#centerLcolumn .blockContent, #centerRcolumn .blockContent, #bottomLcolumn .blockContent, #bottomRcolumn .blockContent {
	border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-bottom: 1px solid #dddddd; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;
}

div#content {text-align: left; padding: 8px;}


td#footerbar {text-align:center;color:#808080;height:31px; background: url(img/bg_nav_b.jpg) top;font-size:10px;}

td#mainmenu a {display: block; margin: 0; padding: 4px; background: url('img/bul.gif') no-repeat left;padding-left: 12px;font-weight: bold;color: #000;}
td#mainmenu a:hover {background-color: #E8E8E8;}
td#mainmenu a.menuTop {}
td#mainmenu a.menuMain {}
td#mainmenu a.menuSub {background-color: transparent;padding-left: 18px;}

td#usermenu a {background: url('img/bul.gif') no-repeat left;padding: 4px;padding-left: 12px; display: block; margin: 0; color: #000; }
td#usermenu a:hover {background-color: #D8D8D8;}
td#usermenu a.menuTop {}
td#usermenu a.highlight {background-color: #fcc;}

.footer {
	color: #536b77;
	clear: both;
	text-align: center;
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-image: url('../visual/pulsebody_03.png');
	text-transform: uppercase;
	background-repeat: no-repeat;
	font-size: 10px;
}

.footer a {
	color: white;
	font-weight: bold;
}
.footer a:hover {
	color: #EDBF00;
}

caption {font-weight: bold;}
th{background: #333; padding : 6px; color: #fff; vertical-align : middle;}
.outer {border: 1px solid #c0c0c0;}
.head {background-color: #C9C9C9; padding: 5px; font-weight: bold;}
.even {background-color: #EDEDED; padding: 5px;}
.odd {background-color: #FFFFFF; padding: 5px;}
.foot {background-color: #C9C9C9; padding: 5px; font-weight: bold;}
tr.even td {background-color: #EDEDED; padding: 5px;}
tr.odd td {background-color: #FFFFFF; padding: 5px;}


tr.foot td {background-color: #c2cdd6; padding: 5px; color:inherit; font-weight: bold;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.confirmMsg { background-color: #DDFFDF; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: bold; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid #c0c0c0; border-left: 1px solid #c0c0c0; font-weight: bold; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px; height: 200px; overflow: auto; text-align:left; direction: ltr;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000080; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: bold; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: #2F5376; font-weight:bold; border: 1px solid #c0c0c0; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-right: 2px; margin-top: 10px; color: #2F5376; font-weight:bold; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:bold;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller;}
.comDateCaption {font-weight: bold; font-style: normal;}
